@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-bg-color1:#dad7cd;
  --primary-bg-color2:#a3b18a;
  --primary-bg-color3:#588157;
  --primary-bg-color4:#3a5a40;
  --primary-bg-color5:#344e41;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
