@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Dosis:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  scroll-behavior: smooth;
}
.--sub-heading{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.--main--logo{
  font-family: "Bebas Neue";
  transition: all;
  transition-duration: 0.2s;
  cursor: pointer;
}
.--main--logo:hover{
  transform: scale(1.2);
}
.icon-drop-down{
  transition: all;
  transition-duration: 0.2s;
}
.drop-down:hover  .icon-drop-down{
  transform: rotate(180deg);
}
.nav-sub-heading{
  transition: all;
  transition-duration: 0.2s;
  position: relative;
  cursor: pointer;
}
.nav-sub-heading:hover{
    transform: translateY(1px);
    font-weight: bold;
}
.swalling{
  transition: all;
  transition-duration: 0.2s;
}
.swalling:hover{
  transform: scale(1.2);
}
.--article--pic{
  transition: all;
  transition-duration: 0.3s; 
}
.--article:hover .--article--pic{
  transform: scale(1.2);
}
.search--tab--navbar input{
    width: 0px;
    transition: all;
    transition-duration: 0.4s;
    right: 40px;
    padding: 2px;
    outline-width: 0;
    border-radius: 5px;
    padding-inline: 10px;
}
.search--tab--navbar:hover input,.search--tab--navbar:focus-within input{
  width: 200px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
